@import 'variables'; // My variables
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Custom
.font-weight-600 {
  font-weight: 600 !important;
}
.border-top-1 {
  border-top-width: 1px !important;
}
.border-1 {
  border-width: 1px !important;
}
.py-30 {
  padding: 30px 0;
}

#results {
  min-height: 582px;
}
#status-line {
  padding: 274px 0;
}
